/* LoliMax */
.white {background: #fff;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;margin-bottom: 15px;box-shadow: 1px 3px 8px #0000001a;overflow: hidden;}

/* Box Download Lolivo v2 */
.boxdl{font-size:12px;font-weight:500;}
.boxdl .boxtitle{padding:8px 10px;color:#FFF;margin-bottom: 5px;font-weight: bold;background: #2282d6;text-align:;}
.boxdl .boxurl {padding:10px;color: #555;border-radius: 3px;margin-left: 6px;margin-right: 6px;overflow: hidden;}
.boxdl .boxurl a{color:#555;font-family: Roboto,arial;}
.boxdl .boxurl a:hover{text-decoration:underline}
.boxurl strong{background:#2282d6;padding: 3px;border-radius: 2px;color: #fff;margin-right: 5px;}
.dark .boxdl{background: #333333;}
.dark .boxdl .boxurl a{color:#fff;}
/* Otaku */
.download{font-size:12px;font-weight:500;}
.download h4{font-size:12px;font-weight:500;}
.download h4{padding:8px 10px;color:#FFF;margin-bottom: 5px;font-weight: bold;background: #2282d6;text-align:;}
.download ul{padding: 0px !important;}
.download ul li{padding: 8px !important;color: #555;border-radius: 3px;margin-left: 6px;margin-right: 6px;overflow: hidden;}
.download ul li a{color:#555;font-family: Roboto,arial; padding-inline-end: 4px;}
.download ul li a:hover{text-decoration:underline}
.download strong{background:#2282d6;padding: 3px;border-radius: 2px;color: #fff;margin-right: 5px;}
.dark .download{background: #333333;}
.dark .download ul a{color:#fff;}
.download i{visibility: hidden;}

/* Papan Pengumuman */
.anon{margin:0 auto;position:relative;margin-top: auto;margin-bottom: 10px;background: #2282d6;padding:10px 35px;border-radius:5px;color:#FFF;line-height:18px;text-align:center;overflow:hidden;font-weight: bold;font-size: 13px;box-shadow: 1px 3px 8px #0000001a;max-width: 1080px;}
.anon a{font-weight:bold;color:#FFF}
.anon::before{font-family:&#39;dashicons&#39;;line-height:normal;font-weight:normal;content:&quot;\f488&quot;;font-size:30px;color: #fff;top:5px;left:5px;position:absolute;}
.anon::after{font-family:&#39;dashicons&#39;;line-height:normal;font-weight:normal;content:&quot;\f488&quot;;color: #fff;font-size:30px;right:5px;top:5px;position:absolute;transform:scale(-1,1);}
